* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}
.date {
  color: gray;
}
.btn {
  color: white;
  background-color: #3694ff;
  border-radius: 20px;
  border: none;
  padding: 10px 14px 10px 14px;
  font-size: 11px;
  margin-top: 30px;
  margin-bottom: 6px;
}

h2 {
  font-size: 14px;
}
p {
  text-align: left;
  font-size: 12px;
  line-height: 1.6;
}
.arrow {
  float: right;
  margin-top: -30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #3694ff;
  font-weight: bold;
  font-size: 11px;
}
.section1 {
  padding: 20px 150px 20px 150px;
  text-align: left;
}

.section3 {
  padding: 20px 150px 20px 150px;
  text-align: left;
}
.section-heading {
  font-size: 25px;
  font-weight: 200;
  text-align: left;
}
.section-heading-2 {
  text-align: left;
  font-size: 25px;
  font-weight: 200;
}

.section2 {
  background-color: azure;
  padding: 20px 150px 20px 150px;
}

.feature-img {
  width: 250px;
  height: 250px;
}
.feature-item {
  position: relative;
  height: 50%;
  text-align: left;
  padding-left: 70px;
  margin: 20px;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}
.clear-me {
  clear: both;
}

.row__medium-6 {
  float: left;
  width: 50%;
  text-align: center;
}

.row__medium-4 {
  float: left;
  width: 33.33%;
  max-height: 100%;
  padding-right: 65px;
}

.images {
  width: 300px;
  height: 170px;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.insights {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px 18px azure;
}

.text-box {
  padding: 2px 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 0 0 15px 0;
}
