* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 20px 0px;
}
@media (min-width: 800px) {
  .wrapper {
    padding: 20px 10px 20px 10px;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    padding: 20px 50px 20px 50px;
    text-align: left;
  }
}

.date {
  color: gray;
}
.btn {
  color: white;
  background-color: #3694ff;
  border-radius: 20px;
  border: none;
  padding: 10px 14px 10px 14px;
  font-size: 11px;
  margin-top: 30px;
  margin-bottom: 6px;
}

h2 {
  font-size: 14px;
}
p {
  text-align: left;
  font-size: 12px;
  line-height: 1.6;
}
.arrow {
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 900px) {
  .arrow {
    float: right;
    margin-top: -30px;
    margin-right: 30px;
  }
}

a {
  text-decoration: none;
  color: #3694ff;
  font-weight: bold;
  font-size: 11px;
}

/* ---------------------------------section 1 styles------------------------------------- */
.section1 {
  padding: 15px 0px 0px 0px;
  text-align: center;
}

@media (min-width: 800px) {
  .section1 {
    padding: 20px 150px 20px 150px;
    text-align: left;
  }
}

.feature-img {
  width: 250px;
  height: 250px;
}
@media (min-width: 800px) {
  .feature-img {
    text-align: center;
  }
}

.feature-item {
  position: relative;
  height: 50%;
  text-align: left;
  padding-left: 70px;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 800px) {
  .feature-item {
  }
}

.row__medium-6 {
  float: left;
  width: 100%;
  text-align: left;
}

@media (min-width: 700px) {
  .row__medium-6 {
    width: 50%;
    /* padding-right: 65px; */
  }
}
/* ---------------------------------section 3 styles------------------------------------- */

.section3 {
  padding: 20px 0px 20px 0px;
  /* text-align: center; */
  margin: 20px;
}

@media (min-width: 1200px) {
  .section3 {
    margin: 0;
    padding: 20px 80px 20px 150px;
  }
}
.section-heading {
  font-size: 25px;
  font-weight: 200;
  text-align: left;
}
.section-heading-3 {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  .section-heading-3 {
    text-align: left;
  }
}
.row__medium-4_sec3 {
  float: left;
  width: 100%;
  max-height: 100%;
  /* padding-right: 65px; */
}

@media (min-width: 850px) {
  .row__medium-4_sec3 {
    width: 33.33%;
    /* padding: 0px 65px 0px 65px; */
  }
}
.images {
  width: 300px;
  height: 170px;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.insights {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 5px 10px 18px 18px azure;
}

.text-box {
  padding: 2px 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 0 0 15px 0;
}

/* ---------------------------------section 2 styles------------------------------------- */

.section2 {
  background-color: azure;
  padding: 20px;
}

@media (min-width: 800px) {
  .section2 {
    padding: 20px 150px 20px 150px;
  }
}

.feature-img2 {
  text-align: left;
}
@media (min-width: 800px) {
  .feature-img2 {
    text-align: center;
  }
}

.feature-item2 {
  position: relative;
  height: 50%;
  text-align: center;
  /* margin: 20px; */
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 800px) {
  .feature-item2 {
    text-align: left;
    /* margin: 0  20px 0 20px; */
  }
}
.section-heading2 {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}
.clear-me {
  clear: both;
}

.row__medium-4 {
  float: left;
  width: 33.33%;
  max-height: 100%;
  padding-right: 65px;
}

@media (max-width: 900px) {
  .row__medium-4 {
    width: 100%;
  }
}
